---
import Projects from "../page/Projects.astro";
import Articles from "../page/Articles.astro";
import Note from "../page/Note.astro";
import NavButton from "../common/NavButton.astro";
import SectionContainer from "../common/SectionContainer.astro";
import { getI18N } from "@/i18n";

//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="flex flex-col">
  <nav
    class="flex gap-1 text-hub-inactive rounded-full border-[1px] p-[2px] border-hub-border dark:border-hub-border-dark bg-hub-background-nav dark:bg-hub-background-nav-dark whitespace-nowrap overflow-x-auto scrollbar-hide"
  >
    <NavButton class="tab-btn" aria-label="btn-Articles" data-target="articles"
      >{i18n.NAVBAR.ARTICLES}</NavButton
    >
    <NavButton
      class="tab-btn"
      aria-label="btn-Notes"
      data-target="notes">{i18n.NAVBAR.NOTES}</NavButton
    >
    <NavButton class="tab-btn" aria-label="btn-projects" data-target="projects"
      >{i18n.NAVBAR.PROJECTS}</NavButton
    >
  </nav>

  <main class="mt-6">
    <SectionContainer id="articles" class="tab-content mt-0 mb-0">
      <Articles />
    </SectionContainer>

    <SectionContainer id="notes" class="tab-content hidden mt-0 mb-0">
      <Note />
    </SectionContainer>

    <SectionContainer id="projects" class="tab-content hidden mt-0 mb-0">
      <Projects />
    </SectionContainer>
  </main>
</div>

<script>
  const buttons = document.querySelectorAll(".tab-btn");
  const contents = document.querySelectorAll(".tab-content");

  // Establece el botón activo por defecto
  const defaultActive = document.querySelector('[data-target="articles"]');
  if (defaultActive) {
    defaultActive.classList.add(
      "bg-hub-background",
      "drop-shadow-md",
      "text-hub-title",
      "font-bold",
      "dark:text-hub-title-dark",
      "dark:bg-hub-background-dark"
    );
    const articlesSection = document.getElementById("articles");
    if (articlesSection) {
      articlesSection.classList.remove("hidden");
    }
  }

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const target = button.getAttribute("data-target");

      buttons.forEach((btn) =>
        btn.classList.remove(
          "bg-hub-background",
          "drop-shadow-md",
          "text-hub-title",
          "font-bold",
          "dark:text-hub-title-dark",
          "dark:bg-hub-background-dark"
        )
      );
      button.classList.add(
        "bg-hub-background",
        "drop-shadow-md",
        "text-hub-title",
        "font-bold",
        "dark:text-hub-title-dark",
        "dark:bg-hub-background-dark"
      );

      contents.forEach((content) => content.classList.add("hidden"));

      if (target) {
        const targetElement = document.getElementById(target);
        if (targetElement) {
          targetElement.classList.remove("hidden");
        }
      }

      button.scrollIntoView({
        behavior: "smooth", 
        block: "nearest", 
        inline: "center", 
      });
    });
  });
</script>
