---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
	title="Hub de JustCodDev - Tu centro de recursos y contenido"
	description="Explora libros, artículos, pasatiempos y recursos educativos en el hub personal de JustCodDev. Descubre lo mejor de mi carrera y mis recomendaciones."
>
	<!-- <Welcome /> -->
	<main class="mt-24 max-w-[1000px]">
		<h1 class="text-2xl font-bold">Link in bio esto E RALEWAY</h1>
		<p class="">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
			reprehenderit repellendus officia quod. Incidunt doloribus, illo ex
			assumenda ipsa dignissimos necessitatibus dolores, placeat perferendis
			corrupti obcaecati deleniti dolorum iure recusandae?
		</p>
		<p>data</p>
	</main>
</Layout>
