---
import Hero from "../components/index/Hero.astro";
import SocialMedia from "../components/index/SocialMedia.astro";
import Navbar from "../components/Navbar.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
	title="Hub de JustCodDev - Tu centro de recursos y contenido"
	description="Explora libros, artículos, pasatiempos y recursos educativos en el hub personal de JustCodDev. Descubre lo mejor de mi carrera y mis recomendaciones."
>
	<!-- <Welcome /> -->

	<main class="mx-6 mt-4">
		<SectionContainer class="mb-6 flex flex-col gap-y-6">
			<Hero />
			<SocialMedia />
		</SectionContainer>
		<SectionContainer class="mb-6">
			<Navbar />
		</SectionContainer>

		<p>data</p>
	</main>
</Layout>
