---
import Card from "../components/Card.astro";
---

<div class="flex flex-col gap-y-3">
  <Card id="" class="h-16 rounded-lg">
    <div>misporjects</div>
  </Card>
  <Card id="" class="">
    <div>misporjects</div>
  </Card>
  <Card id="" class="">
    <div>misporjects</div>
  </Card>
  <Card id="" class="">
    <div>misporjects</div>
  </Card>
  <Card id="" class="">
    <div>misporjects</div>
  </Card>
</div>
