---
import SectionContainer from "./common/SectionContainer.astro";
import Theme from "./common/Theme.astro";
import SocialMedia from "./common/SocialMedia.astro";
import Navbar from "./layout/Navbar.astro";
import { getI18N } from "@/i18n";
import Layout from "@/layouts/Layout.astro";

//para cambiar entre idiomas y traducir rutas
// const lang = getLangFromUrl(Astro.url);
// const translatePath = useTranslatedPath(lang);

//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.SEO_TITLE} description={i18n.S}>
  <!-- <Welcome /> -->

  <main class="mx-6 mt-4
		md:max-w-[1000px]
		md:w-full">
    <SectionContainer class="flex flex-col gap-y-6">
      <Theme />
      <SocialMedia />
    </SectionContainer>
    <!-- <SectionContainer>
      <Header />
    </SectionContainer> -->
    <SectionContainer class="">
      <Navbar />
    </SectionContainer>
  </main>
</Layout>
