---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "./SectionContainer.astro";
import NoDataCard from "./NoDataCard.astro";
import SocialPill from "@/icons/SocialPill.astro";
import ArrowRight from "@/icons/ArrowRight.astro";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";
import { getI18N } from "@/i18n";

//para cambiar entre idiomas y traducir rutas
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.ERROR_404.TITLE} description={i18n.ERROR_404.DESCRIPTION}>
  <SectionContainer class="px-4 dark:bg-hub-background-dark">
    <NoDataCard imageSrc="/img/notion/white/my-notion-face-transparent_7.png" />
    <div class="flex justify-center content-center items-center">
      <SocialPill
        class="px-4 mt-2 gap-1 font-medium text-sm text-white dark:text-white bg-sky-500 hover:bg-sky-400 w-auto group"
        href={translatePath("/")}
        target="_self"
      >
        <ArrowRight
          class="size-5 transition duration-300 ease-in-out group-hover:-rotate-180"
        />
        {i18n.ERROR_404.BACK_HOMEPAGE_BTN}
      </SocialPill>
    </div>
  </SectionContainer>
</Layout>
