---
import Articles from "../pages/Articles.astro";
import Projects from "../pages/Projects.astro";
import NavButton from "./index/NavButton.astro";
import SectionContainer from "./SectionContainer.astro";
---

<div class="flex flex-col">
  <nav
    class="flex gap-1 text-icons rounded-full border-[1px] p-[2px] border-hub-border bg-hub-light-bg-2 whitespace-nowrap overflow-x-auto scrollbar-hide"
  >
    <NavButton class="tab-btn" data-target="projects">Projects</NavButton>
    <NavButton class="tab-btn" data-target="articles">Articles</NavButton>
    <NavButton class="tab-btn" data-target="books">Career Path</NavButton>
    <NavButton class="tab-btn" data-target="books">BooksMarks</NavButton>
    <NavButton class="tab-btn" data-target="books">Education Hub</NavButton>
    <NavButton class="tab-btn" data-target="books">Fun Hobbies</NavButton>
    <NavButton class="tab-btn" data-target="books">Shop Now</NavButton>
  </nav>

  <main class="mt-6">
    <SectionContainer id="projects" class="tab-content mt-0 mb-0">
      <Projects />
    </SectionContainer>
    <SectionContainer id="articles" class="tab-content hidden mt-0 mb-0">
      <Articles />
    </SectionContainer>
    <SectionContainer id="books" class="tab-content hidden mt-0 mb-0">
      <h2>Libros</h2>
    </SectionContainer>
  </main>
</div>

<script>
  const buttons = document.querySelectorAll(".tab-btn");
  const contents = document.querySelectorAll(".tab-content");

  // Establece el bot贸n activo por defecto
  const defaultActive = document.querySelector('[data-target="projects"]');
  if (defaultActive) {
    defaultActive.classList.add(
      "bg-white",
      "drop-shadow-md",
      "text-hub-title",
      "font-bold",
    );
    const projectsSection = document.getElementById("projects");
    if (projectsSection) {
      projectsSection.classList.remove("hidden");
    }
  }

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const target = button.getAttribute("data-target");

      // Actualiza el estado de los botones
      buttons.forEach((btn) =>
        btn.classList.remove(
          "bg-white",
          "drop-shadow-md",
          "text-hub-title",
          "font-bold",
        ),
      );
      button.classList.add(
        "bg-white",
        "drop-shadow-md",
        "text-hub-title",
        "font-bold",
      );

      // Oculta todas las secciones
      contents.forEach((content) => content.classList.add("hidden"));

      // Muestra la secci贸n seleccionada
      if (target) {
        const targetElement = document.getElementById(target);
        if (targetElement) {
          targetElement.classList.remove("hidden");
        }
      }

      // Desliza el bot贸n al centro del nav
      button.scrollIntoView({
        behavior: "smooth", // Deslizamiento suave
        block: "nearest", // Mantiene la posici贸n vertical
        inline: "center", // Centra horizontalmente
      });
    });
  });
</script>
