---
const { class: className, title = "New" } = Astro.props;
---

<span
  class={` ${className} animate-pulse  text-white bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 relative inline-flex items-center justify-center px-3 py-1 rounded-full font-bold text-sm`}
  {...Astro.props}
>
  {title}
</span>
