---
const {
  message = "Oops, no data to display.",
  subtitle = "But don't worry, there's always something interesting waiting for you!",
  // message = "Oops, no hay datos para mostrar.",
  // subtitle = "¡Pero no te preocupes, siempre hay algo interesante esperándote!",
  imageSrc = "/src/assets/img/my-notion-face-transparent.png", // Imagen predeterminada (cámbiala según prefieras)
  imageAlt = "Sin datos disponibles",
} = Astro.props;
---

<div
  class="rounded-lg flex flex-col items-center justify-center gap-4 border-[1px] border-hub-border hover:drop-shadow-md hover:bg-hub-light-bg-2 transition-all duration-300 py-6 px-4 text-center"
>
  <!-- Imagen -->
  <img src={imageSrc} alt={imageAlt} class="w-24 h-24 object-contain" />

  <!-- Mensaje Principal -->
  <p class="text-sm text-hub-title font-medium">{message}</p>

  <!-- Subtítulo -->
  <p class="text-xs text-hub-subtitle">{subtitle}</p>
</div>
