---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`section ${className} my-6 scroll-m-20 w-full mx-auto container xl:max-w-5xl md:max-w-2xl`}
>
  <slot />
</section>
