---
import { getI18N } from "@/i18n";
import MurMurCard from "../common/MurMurCard.astro";
import NoDataCard from "../common/NoDataCard.astro";
import { getCollection } from "astro:content";

const url = new URL(Astro.url);
const lang = url.pathname.split('/')[2] || 'en';
const i18n = getI18N({ currentLocale: lang });
let cardsData = await getCollection('notes');
cardsData = cardsData.filter((article: any) => article.data.lang === lang);

---

<div class="flex flex-col-reverse gap-y-3">
  {
    cardsData.length > 0 ? (
      cardsData.map((murmur) => (
        <MurMurCard
          time={murmur.data.date.toISOString().split('T')[0]}
          text={murmur.body}
          image={murmur.data.image}
        />
      ))
    ) : (
      <NoDataCard
        id={`note_nodata`}
        message={i18n.EDUCATION_HUB.empty.message}
        subtitle={i18n.EDUCATION_HUB.empty.message2}
        imageSrc="/blog/img/my.svg"
      />
    )
  }
</div>
