---
import { getI18N } from "@/i18n";

//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const {
  message = "Oops, no data to display.",
  subtitle = "But don't worry, there's always something interesting waiting for you!",
  // message = "Oops, no hay datos para mostrar.",
  // subtitle = "¡Pero no te preocupes, siempre hay algo interesante esperándote!",
  imageSrc = "src/assets/img/my-notion-face-transparent.png", // Imagen predeterminada (cámbiala según prefieras)
  imageAlt = "Sin datos disponibles",
} = Astro.props;
---

<div
  class="rounded-lg flex flex-col items-center justify-center gap-4 border-[1px]
   border-hub-border
   dark:border-hub-border-dark
   hover:drop-shadow-md
   hover:bg-hub-background-nav
    dark:bg-hub-background-nav-dark
   hover:dark:bg-hub-background-dark
   transition-all duration-300 py-6 px-4 text-center"
>
  <!-- Imagen -->
  <img src={imageSrc} alt={imageAlt} class="w-24 h-24 object-contain" />

  <!-- Mensaje Principal -->
  <p class="text-sm text-hub-title dark:text-hub-title-dark font-medium">
    {i18n.NOT_DATA.message}
  </p>

  <!-- Subtítulo -->
  <p class="text-xs text-hub-subtitle dark:text-hub-subtitle-dark">
    {i18n.NOT_DATA.message2}
  </p>
</div>
