---
const { tooltip = "tooltip" } = Astro.props;
---

<div class="relative group flex justify-center">
  <!-- <span class="uppercase">data</span> -->
  <slot />
  <!-- opacity-0 invisible -->
  <div
    class="absolute -top-full mt-1 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200"
  >
    <span
      class="text-center px-4 py-2 text-sm w-auto rounded-full
      hover:text-hub-title
      bg-hub-background
      drop-shadow-md
      text-hub-inactive
      font-bold
      dark:text-hub-inactive
      dark:bg-hub-background-dark
      border-[1px]
      dark:border-hub-border-dark
      hover:dark:bg-hub-background-nav-dark dark:hover:text-white"
    >
      {tooltip}
    </span>
  </div>
</div>
