---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<ul>
  <li>
    <a href={translatePath("/")}>
      {t("nav.index")}
    </a>
  </li>
  <li>
    <a href={translatePath("/about/")}>
      {t("nav.about")}
    </a>
  </li>
  <li>
    <a href={translatePath("/404/")}>
      {t("nav.404")}
    </a>
  </li>
</ul>
