<div>
  <div>
    <img
      class="rounded-full size-24 border border-hub-border shadow-btn-shadow"
      src="/src/assets/img/my-notion-face-portrait.png"
      alt="Descripción de la imagen"
    />
  </div>
  <div class="mt-4">
    <h1 class="font-medium text-2xl text-hub-title">Edison Cruz</h1>
    <p class="text-base text-hub-subtitle">IT Enginner</p>
  </div>
</div>
