---
import IconChevronDown from "../../icons/IconChevronDown.astro";
import IconMoon from "../../icons/IconMoon.astro";
import IconShare2 from "../../icons/IconShare2.astro";
import IconSun from "../../icons/IconSun.astro";
import HeroButton from "../HeroButton.astro";
import LanguagePicker from "../LanguagePicker.astro";
---

<div>
  <div class="flex justify-between">
    <img
      class="rounded-full size-24 border
      border-hub-border
      dark:border-hub-border-dark
      dark:bg-hub-background-nav-dark
      hover:dark:bg-hub-background-nav"
      src="/img/notion/white/my-notion-face-transparent.png"
      alt="Descripción de la imagen"
    />
    <div class="flex gap-2 flex-wrap">
      <!-- <HeroButton class="size-8">
        <IconShare2 class="size-5" />
      </HeroButton> -->

      <HeroButton aria-label="btn-theme" id="toggle-theme" class="size-8">
        <IconSun class="size-5 dark:hidden" />
        <IconMoon class="size-5 hidden dark:inline" />
      </HeroButton>

      <div class="">
        <LanguagePicker />
      </div>
    </div>
  </div>
  <div class="mt-4">
    <h1 class="font-medium text-2xl text-hub-title dark:text-hub-title-dark">
      Edison Cruz
    </h1>
    <p class="text-base text-hub-subtitle dark:text-hub-subtitle-dark">
      Software Engineer
    </p>
  </div>
</div>
