---
const { class: className } = Astro.props;
---

<button
  class=`${className} px-4 py-[10px] font-bold text-sm text-hub-title w-auto rounded-full 
  hover:bg-white hover:drop-shadow-md`
  {...Astro.props}
>
  <slot />
</button>
