---
const { class: className } = Astro.props;
---

<button
  class=`${className} aria-label="btn-nav"  px-4 py-2  text-sm  w-auto rounded-full
    hover:text-hub-title `
  {...Astro.props}
>
  <slot />
</button>
