---
import { getAbsoluteLocaleUrl } from "astro:i18n";
import ArrowUpRight from "../../icons/ArrowUpRight.astro";
import GitHub from "../../icons/GitHub.astro";
import Instagram from "../../icons/Instagram.astro";
import LinkedIn from "../../icons/LinkedIn.astro";
import SocialPill from "../../icons/SocialPill.astro";
import Web from "../../icons/Web.astro";

import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";
import Tooltip from "../Tooltip.astro";

//para cambiar entre idiomas y traducir rutas
const lang = getLangFromUrl(Astro.url);
// const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<!-- Aside para links secundarios -->
<aside>
  <div class="flex gap-2 flex-wrap">
    <SocialPill
      class="px-4 gap-1 font-medium text-sm text-white dark:text-white bg-sky-500 hover:bg-sky-400 w-auto group"
      href={translatePath("/")}
      target="_self"
    >
      Resume
      <ArrowUpRight
        class="size-4 transition-transform duration-300 ease-in-out group-hover:rotate-45"
      />
    </SocialPill>
    <Tooltip tooltip="Portfolio">
      <SocialPill
        href="https://itsteddydev.vercel.app/"
        class=""
        target="_blank"
      >
        <Web class="size-4" />
      </SocialPill>
    </Tooltip>

    <Tooltip tooltip="GitHub">
      <SocialPill
        href="https://www.github.com/itsteddydev"
        class=""
        target="_blank"
      >
        <GitHub class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="LinkedIn">
      <SocialPill
        href="https://www.linkedin.com/in/itsteddydev"
        class=""
        target="_blank"
      >
        <LinkedIn class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="Instagram">
      <SocialPill
        href="https://www.instagram.com/itsteddydev"
        class=""
        target="_blank"
      >
        <Instagram class="size-4" />
      </SocialPill>
    </Tooltip>
  </div>
</aside>
