---
import ArrowUpRight from "../../icons/ArrowUpRight.astro";
import GitHub from "../../icons/GitHub.astro";
import Instagram from "../../icons/Instagram.astro";
import LinkedIn from "../../icons/LinkedIn.astro";
import SocialPill from "../../icons/SocialPill.astro";
import Web from "../../icons/Web.astro";
---

<!-- Aside para links secundarios -->
<aside>
  <div class="flex gap-2 flex-wrap">
    <SocialPill
      class="px-4 gap-1 font-medium text-sm text-white bg-sky-500 hover:bg-sky-400 w-auto group"
      href="#"
      target="_self"
    >
      Currículo
      <ArrowUpRight
        class="size-4 transition duration-300 ease-in-out group-hover:rotate-45"
      />
    </SocialPill>
    <SocialPill href="https://www.justcoddev.com" class="" target="_blank">
      <Web class="size-4" />
    </SocialPill>
    <SocialPill
      href="https://www.github.com/justcoddev"
      class=""
      target="_blank"
    >
      <GitHub class="size-4" />
    </SocialPill>
    <SocialPill
      href="https://www.linkedin.com/in/justcoddev/"
      class=""
      target="_blank"
    >
      <LinkedIn class="size-4" />
    </SocialPill>
    <SocialPill
      href="https://www.instagram.com/justcoddev"
      class=""
      target="_blank"
    >
      <Instagram class="size-4" />
    </SocialPill>
  </div>
</aside>
