---
import ArrowUpRight from "../../icons/ArrowUpRight.astro";
import GitHub from "../../icons/GitHub.astro";
import Instagram from "../../icons/Instagram.astro";
import LinkedIn from "../../icons/LinkedIn.astro";
import SocialPill from "../../icons/SocialPill.astro";
import Web from "../../icons/Web.astro";
---

<!-- Aside para links secundarios -->
<aside>
  <div class="flex gap-2 flex-wrap text-icons">
    <SocialPill
      class="px-4 gap-1 font-medium text-sm bg-btn-gradient text-white w-auto drop-shadow-md group"
      href="#"
      target="_self"
    >
      Currículo
      <ArrowUpRight
        class="size-4 transition duration-300 ease-in-out group-hover:rotate-45"
      />
    </SocialPill>
    <SocialPill
      href="https://www.github.com/justcoddev"
      class="hover:bg-hub-light-bg-2 hover:drop-shadow-sm"
    >
      <Web class="size-4" />
    </SocialPill>
    <SocialPill
      href="https://www.github.com/justcoddev"
      class="hover:bg-hub-light-bg-2 hover:drop-shadow-sm"
    >
      <GitHub class="size-4" />
    </SocialPill>
    <SocialPill
      href="https://www.github.com/justcoddev"
      class="hover:bg-hub-light-bg-2 hover:drop-shadow-sm"
    >
      <LinkedIn class="size-4" />
    </SocialPill>
    <SocialPill
      href="https://www.github.com/justcoddev"
      class="hover:bg-hub-light-bg-2 hover:drop-shadow-sm"
    >
      <Instagram class="size-4" />
    </SocialPill>
  </div>
</aside>
