---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Raleway:wght@100..900&display=swap"
			rel="stylesheet"
		/> -->
		<title>{title}</title>
	</head>
	<!-- <body class=""> -->
	<body class="dark">
		<slot />
	</body>
</html>
<style>
	body {
		background-color: #101419;
		/* background-color: #ffffff; */
	}

	/* .dark {
		background-color: var(--hub-background-dark);
	} */
</style>
